<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="top.imyth.practice4" level="info" />
    <springProfile name="staging">
        <logger name="top.imyth.practice4.aop" level="info" />
    </springProfile>
</configuration>